body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="text"]:focus,
input[type="number"]:focus,
select:focus {
    border-color: #4CAF50;
    outline: none;
}

button.btn {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button.btn:hover {
    background-color: #45a049;
}

#resultados {
    margin-top: 30px;
}

h2 {
    text-align: center;
}

.vaca {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #ffcccb; /* Rojo claro */
}

.ternero {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #ccffcc; /* Verde claro */
}

#listaVacas,
#listaTerneros {
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 20px;
}

p {
    margin: 5px 0;
}

button.btn-editar, button.btn-eliminar {
    margin: 5px;
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.btn-editar {
    background-color: #2196F3;
    color: white;
}

button.btn-editar:hover {
    background-color: #1e87f0;
}

button.btn-eliminar {
    background-color: #f44336;
    color: white;
}

button.btn-eliminar:hover {
    background-color: #e53935;
}



